* {
  margin: 0;
  padding: 0;
}

.banner {
  background-color: blue;
  height: 80vh;
  background-image: url(https://i.ibb.co/HNvHSyV/image-header.jpg);
  background-position: center bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 600px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.menu {
  display: flex;
  font-size: 20px;
  color: white;
  align-items: center;
}

.menu span {
  margin-right: 30px;
  cursor: pointer;
}

.contact {
  background-color: white;
  color: black;
  /* border-radius: 10px; */
  padding: 4px 15px;
  border-radius: 15px;
  cursor: pointer;
}

.main {
  font-size: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: white;
  font-weight: bold;
}

.arrow {
  margin-top: 60px;
}
